@import "tailwindcss";

@theme {
  --color-primary: #505050;
  --color-background: #fcf8f4;
  --shadow-inset-highlight: inset 0 2px 4px rgba(255,255,255,0.5);
}

@layer base {
  html {
    font-synthesis: none;
    text-rendering: optimizeLegibility;
    scrollbar-gutter: stable;
    -webkit-font-smoothing: antialiased;
    -moz-osx-font-smoothing: grayscale;
  }
  body {
    color: var(--color-primary);
    background-color: var(--color-background);
    background-size: 22px 22px;
    background-image:
      linear-gradient(to right, #f0f0f0 1px, transparent 1px),
      linear-gradient(to bottom, #f0f0f0 1px, transparent 1px);
  }
  h1 {
    font-size: var(--text-xl);
  }
  h2 {
    font-size: var(--text-lg);
  }
}