@import "tailwindcss";

@theme {
  --color-primary: #505050;
  --color-background: #fcf8f4;
}

@layer base {
  html {
    font-synthesis: none;
    text-rendering: optimizeLegibility;
    -webkit-font-smoothing: antialiased;
    -moz-osx-font-smoothing: grayscale;
    scrollbar-gutter: stable;
  }
  body {
    color: var(--color-primary);
    background-color: var(--color-background);
    background-size: 16px 16px;
    background-image:
      linear-gradient(to right, #f1f1f1 1px, transparent 1px),
      linear-gradient(to bottom, #f1f1f1 1px, transparent 1px);
  }
  h1 {
    font-size: var(--text-4xl);
  }
  h2 {
    font-size: var(--text-2xl);
  }
}